.App {
  text-align: center;
  color: white;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-items: center;
}
h1 {
  font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}

#players {
  display: grid;
  grid-template-columns: 3fr 2fr 3fr;
  grid-gap: 5px;
  justify-content: stretch;
}
#player1 {
  grid-column: 1;
  overflow: hidden;
}
#player2 {
  grid-column: 3;
  overflow: hidden;
}

#compare-list {
  display: flex;
  flex-direction: column;
  align-items: center;
  list-style-type: none;
}

.player-1-text {
  color: blue;
}

.player-2-text {
  color: red;
}

.player-1-arrow {
  width: 0;
  height: 0;
  border-top: 5px solid transparent;
  border-bottom: 5px solid transparent;
  border-left: 5px solid transparent;
  border-right: 5px solid blue;
}
.player-2-arrow {
  width: 0;
  height: 0;
  border-top: 5px solid transparent;
  border-bottom: 5px solid transparent;
  border-right: 5px solid transparent;
  border-left: 5px solid red;
}
