.App {
  text-align: center;
  color: white;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-items: center;
}

.App-logo {
  animation: App-logo-spin infinite 5s linear;
  height: 40vmin;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

.chung {
  animation-name: App-logo-spin;
  animation-duration: 1s;
  animation-iteration-count: infinite;
  transition: 1s;
  position: absolute;
  top: 25%;
  pointer-events: none;
}
.hidden {
  opacity: 0;
  transition: 1s;
}
@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
    transform: perspective(0deg);
  }
  to {
    transform: rotate(360deg);
    transform: perspective(90deg);
  }
}
